.shop-main{
    margin-top: 20px;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.cart-container{

    height: 660px;
    background-color: #f5f5f5;
    border-radius: 5px;
    position: sticky;
    top: 0;

}

.cart-container h4{
    margin-top: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}


@media only screen and (max-width: 600px) {
  
    .products-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        width: 100% !important;
    }

    .shop-main{
        display: grid;
        grid-template-columns: 1fr;
    }

    .cart-container{
        width: 100% !important;
        height: 300px;
        position: static;
        top: none;
    }


  }