.card img{
    max-width: 230px !important;
    max-height: 190px !important;
    margin-top: 5px;

}

.card{
    align-items: center !important;
    min-height: 350px;
}

.card-footer{

    background-color: #f5f5dc !important;
    border: none;
    border-radius: 5px;
    width: 272px;
}

.btn{
    min-width: 240px;
    background-color: #f5f5dc;
    font-size: 16px;
    font-weight: 500;
    color: black;
    border: none;
 }

 .btn:hover{
    background-color: #fffff0;
    color: black;
 }