.header-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #483d8b;
}

.logo img{
    width: 45%;
    padding: 10px 0px 10px 10px;
}

.logo-text h2{

    color: white;
    padding: 10px 10px 10px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}